/*CSS for Desktop View*/

.image {
    margin-top: 2%;
	display: block !important;
    position: relative !important;
    width: 100% !important;
	height: auto;
    max-height: 49vh;
}

.home-page-boxes { /*Ideally should centre them in the page */
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.box {
	width: 410px;
	min-height: 280px;
	position: relative;
    text-align: justify;
	float: left;
}

.boxHeading {
    padding-top: 10%;
    color: white;
    font-size: 18px;
    font-weight: 400;
	padding-left: 35px;
}

.boxDescription {
    color: white;
    font-size: 13px;
    font-family: "PT Sans", Sans-Serif;
	opacity: 0.8;
}

.boxDescriptionDiv {
    text-align: left;
    padding-right: 10%;
    padding-left: 10%;
    min-height: 200px;
}

.box1 {
    background-color: var(--button-color);
}

.box2 {
    background-color: var(--button-hover-color);
}

.box3 {
    background-color: var(--darkest-theme-color);
}

/*CSS for Mobile View*/
.homepage-mobile-buttons {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.homepage-mobile-button {
    font-size: 200% !important;
    width: 70%;
    height: 20vh;
    margin: 20% auto 0 auto;
}
