.forgotpasswordIcon{
    width: 10%;
}
.forgotYourPasswordText{
    margin-top: 1%;
}

#forgotpasswordPage{
    margin: auto;
    width: 80%;
}
#forgotPasswordFormDiv{
    margin-top: 4%;
}
.forgotpasswordForm{
    align-content: center;
    margin: auto;
    width: 30%;
}
.forgotpasswordFormGroupText{
    text-align: left;
}

.forgotpasswordYouWillReceiveanEmail{
    margin-top: 2%;
}
#forgotpasswordErrorMessage{
    color: red;
}
