.FPtextAlign{
    text-align: left;
}
.FPform{
    margin: auto;
    width: 50vw;
}
.FPmessage{
    margin-top: 2%;
    margin: auto;
    width: 50vh;
}

#StrongPassword{
    margin-bottom: -2%;
}
#FPPasswordCheckMark{
    width: 3vh;
}
#FPPasswordCheckMark2{
    width: 3vh;
}
.FPFormDiv{
    height: 100vh;
}