/*CSS for the Login Page*/

.login-logo-container {
    margin-right: 100%;
}

.login-logo{
    width: 40%;
    height: 40%;
    position: absolute;
    margin-left: 10%;
}

#login-container { /*Uses id instead of class*/
    margin-top: 15vh;
    margin-right: 15%;
    width: 30%;
    height: 40%;
}

.login-form {
    margin: auto;
    text-align: left;
    width: 90%;
}

.login-form-title {
    font-family: 'Balsamiq Sans', cursive
}

.login-form-error {
    height: 30px;
    margin-top: 20px;
}

.login-error-input {
    background-color: pink !important;
}


/* CSS specifically for mobile */

#login-container-mobile { /*Uses id instead of class*/
    margin-bottom: 0px !important;
}
