.account-details-mobile{
    background-color: RGB(238, 238, 238);
    margin: 10px;
    padding: 10px 0 20px 0;
    border-radius: 10px;
}

.account-details-title-mobile {
    margin-left: 5%;
}

.account-details-name-mobile {
    margin: 5%;
}

.uploaded-image-container-mobile {
    background-color: RGB(238, 238, 238);
    flex-grow: 10; /* Takes up as much space as possible next to account details */
    margin: 5% 1% 0 1%;
    border-radius: 10px;
    padding: 2% 1% 0 1%;
}

/* CSS Specicially for the mobile view */
.my-account-main-container-mobile {
    width: 100%;
    margin-bottom: 0px !important;
}
