.my-account-main-container{
    overflow: hidden;
    background-color: RGB(238, 238, 238);
    height: 91vh; /* Put the gray at the bottom of the page */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* For the small details bubble */
.account-details {
    position: relative;
    background-color: white;
    flex-grow: 1; /* 1:10 meaning fit-content unless space to expand */
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin : 2%;
    border-radius: 10px; 
}

.account-details-title {
    text-align: left;
    font-size: 20px;
    color: #7471ad;
}

.account-details-name {
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}

.reset-password-button {
    font-size: 20px;
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

/* For the image list */

.images-table {
    position: relative;
    background-color: white;
    width: fit-content;
    height: 100%;
    flex-grow: 10; /* Takes up as much space as possible next to account details */
    padding: 20px;
    margin : 0%;
    border-radius: 10px;
    overflow: scroll;
}

.toeImages {
	width: 100%;
	max-height: 150px;
}

.uploaded-image-table {
    text-align: left;
}

.uploaded-image-table-headers {
    position: sticky;
    top: 0;
}