.accountDetails{
    position: relative;
    background-color: white;
    padding-top: 3%;
    padding-left: 4%;
    width: 40%;
    margin : 2% 0 0 2%;
    border-radius: 10px; 
    height: 40vh;
    display: inline-block;
    overflow: hidden;
}


.accountDetailItem{
    width: 200px;
    height: 30px;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 2%;
    margin-top : 3px;
    
}
.accountItemText{
    display: inline;
    padding-left: 5%;
}