* {
    box-sizing: border-box;
  }
.sidebar{
    width : 300px;
    height : 100vh; 
    float: left; 
    padding: 2% 0 0 0;
    border-right: 1px solid lightblue;
}
.sidebarItems{
    padding : 10% 0 0 20%;
    text-align : left;
    cursor: pointer;
}
.sidebarIcon{
    width : 7%;
    margin-right : 5%;
}
.sidebarItemText{
    display : inline;
    color: blue;
}

.activeItem{
    filter: brightness(0.7);
}
