.wrapper{
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.wrapper a{
    text-decoration: none;
    background-color: none;
    color: #fff;
}

#sidebar {
    
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background: #30302b;
    color: #fff;
    transition: all 0.3s;
    padding-top: 1%;
}

.components{
    padding: 20% 0 0 0;
}


.sidebarItem{
    text-align: left;
    margin-top: 10%;
}

.sidebarItem:hover{
    background-color: #1a1a17;
    cursor: pointer;
}

.active{
    background-color: #1a1a17;
}

.icon{
    margin-right: 10%;
    width: 15%;
    margin-left: 5%;
}

.itemText{
    display: inline;
}



.logoutAndMyAccount{
    text-align: left;
    margin-left: 30%;
}