/*CSS for the Sign-Up Page*/

#signup-form-container { /*Uses id instead of class*/
    position: relative;
    margin-left: 15%;
    width: 35%;
}

.signup-picture {
    margin-top: 10%;
    width: 45%;
    height: 45%;
    position: absolute;
    margin-right: 10%;
}

.signup-form {
    margin: auto;
    text-align: left;
    width: 100%;
}

.signup-form-title {
    font-family: 'Balsamiq Sans', cursive
}

.signup-form-join-message {
    font-family: 'Pangolin', cursive;
    color: orange;
}

.signup-error {
    height: 30px;
}

.signup-error-input {
    background-color: pink !important;
}

.password-check-mark {
    width: 3%;
}

.confirm-password-input {
    margin-top: -2%; /*Make space for descriptions above it*/
}

.strong-password-desc {
    margin-bottom: -2%;
}


/*CSS specifically for mobile and split screen*/

#signup-form-container-mobile { /*Uses id instead of class*/
    width: 100%;
}

.signup-form-mobile {
    margin: auto;
    text-align: left;
}
