.input-group {
    padding-top: 10%;
    margin: auto;
    width: 50%;
    text-align: left;
}

.welcome {
    font-size: 24px;
    padding-top: 20px;
}

.options-headers {
    padding-top: 20px;
    font-size: 24px;
}

.option {
    border-radius: 10px;
    max-height: inherit;
    background-color: white;
}


#images {
    width : 50%;
}

#tableCol{
    width: 85%;
    margin-top: 5%;
    border-radius: 10px;
}

.tab{
    position: absolute; 
    left: 0; 
    top: 0;
    background-color: blue; 
    
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;

    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    width: 120px; 
    cursor: pointer;
}
.activeTab{
    z-index: 1;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}