/*CSS Relating to the Page */

.main-container {
    overflow: hidden;
    background-color: RGB(238, 238, 238);
    height: 91vh;
}

/*CSS Relating to the Welcome Bar */

.welcome-bar {
    background-color: RGB(248, 248, 248);
    overflow: hidden;
    padding-bottom: 1%;
    border-bottom: 1px solid RGB(200, 200, 200);
    height: 9vh;
}

.welcome {
    font-size: 24px;
    padding-top: 20px;
}

/* CSS Relating the Graph View */

.graph-feet-buttons {
    margin: 20px 20px 0px 20px;
}

.graph-foot-button {
    background-color: RGB(200, 200, 200);
    border: 0px;
    border-radius: .25rem;
    width: 50%;
}

.graph {
    background-color: white;
    margin: 0px 20px 20px 20px;
    min-height: 45vh;
    overflow: hidden;
    padding-top: 3%;
}

.graph-toe-button {
    background-color: RGB(230, 230, 230);
    width: 100px;
    border: 0px;
    border-radius: .25rem;
    margin: 0px 0px 5px 10px;
}

.active-toe-button {
    color: white;
    background-color: var(--highlight-color);
}

.graph-toe-button:focus, .graph-foot-button:focus {
    outline: none;
}

.graph-toe-button:hover, .graph-foot-button:hover {
    background-color: RGB(150, 150, 150);
}

.active-toe-button:hover {
    background-color: var(--button-hover-color);
}

/* CSS Relating to the Foot Details */

.selected-details-container {
    background-color: white;
    margin: 0px 20px 20px 20px;
    overflow: scroll;
    max-height: 35vh;
}

.selected-details-title {
    font-size: 24px;
    font-weight: bold;
    align-content: center;
    display: inline-block; /* Remove flex from row */
    margin: auto;
    padding-bottom: 20px;
}

.selected-details-row {
    border-top: 1px solid;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.selected-details-bottom-row {
    padding-bottom: 20px;
}

.selected-details-col {
    border-left: 1px solid;
}

.selected-details-right-col {
    border-right: 1px solid;
}

