
/*Other CSS for the general application.*/


/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    --main-background-color: rgb(248, 248, 248);
    margin: 0;
    font-family: "open sans", arial, sans-serif; /* Font + fallbacks */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-background-color);
}
